<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/sidenav.css">
    <link rel="stylesheet" href="/css/chat.css">
    <link rel="stylesheet" href="/css/perfil.css">

    
    <title>CHAT</title>
</head>
<body class="fondo" >
  <!--navbar-->
  <header   class="-static">
<nav class="navbar navbar-expand-lg navbar-light bg-light color" >
      <a class="navbar-brand" data-target="#sidebar" data-toggle="collapse" aria-expanded="false" href="#">Amonooos</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link usuario" href="#"> <%= user.local.usuario %> <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#"> Home </a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <span class="fas fa-sliders-h"></span>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Settings</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/logout">log out</a>
                  </div>
              </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><span class="fas fa-search"></span></button>
              <a href="/chat" class="btn btn-light btn-lg">
                  <span class="fa fa-user"></span> chat
              </a>
          </form>
      </div>
  </nav>

  </header>
    
  <!--SIDEBAR-->
  <div class="col-md-2 float-left col-1 pl-0 pr-0 collapse width " id="sidebar">
    <div class="list-group border-0 card text-center text-md-left">
            <a href="#menu1" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-user"></i> <span class="d-none d-md-inline">Informacion</span> </a>
            <div class="collapse" id="menu1">
                <a href="#menu1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem 1 </a>
                <div class="collapse" id="menu1sub1">
                    <a href="#" class="list-group-item" data-parent="#menu1sub1">Subitem 1</a>
                    <a href="#menu1sub1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem 2 </a>
                    <div class="collapse" id="menu1sub1sub1">
                        <a href="#" class="list-group-item" data-parent="#menu1sub1sub1">Subitem 2 a</a>
                        <a href="#" class="list-group-item" data-parent="#menu1sub1sub1">Subitem 2 b</a>
                    </div>
                    <a href="#menu1sub1sub2" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem 3 </a>
                    <div class="collapse" id="menu1sub1sub2">
                        <a href="#" class="list-group-item" data-parent="#menu1sub1sub2">Subitem 3 a</a>
                        <a href="#" class="list-group-item" data-parent="#menu1sub1sub2">Subitem 3 b</a>
                    </div>
                </div>
                <a href="#" class="list-group-item" data-parent="#menu1">Subitem 2</a>
                <a href="#" class="list-group-item" data-parent="#menu1">Subitem 3</a>
            </div>
            
            <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-heart"></i> <span class="d-none d-md-inline">Amigos</span></a>
            <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-list"></i> <span class="d-none d-md-inline">Configuracion</span></a>
          </div>
</div>
    <div class="container" id=containerWrap>
        <div class="col-md-6 offset-md-1 mx-auto">
                        <!-- CHAT CONTAINER -->
                        <div>
                          <!-- CARD HEADER-->
                          <div class="blanco">
                            <h4>Chat</h3>
                          </div>
              
                          <!-- CARD BODY-->
                          <div id="chat" class="blanco"></div>
              
                          <!-- CARD FOOTER -->
                          <div class="fixed-bottom" class="position-static">
                             <form id="message-form" class="card-footer" >
                            <div class="input-group">
                              <input type="text" id="message" class="form-control"/>
                              <div class="input-group-append">
                                <button class="btn btn-warning">
                                  <i class="fas fa-location-arrow"></i> Send
                                </button>
                              </div>
                            </div>
                          </form>
                          </div>
                         
                        </div>
                      </div>    
              

    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/chat.js"></script>
</body>
</html>