<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/perfil.css">
    <link rel="stylesheet" href="/css/sidenav.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
        crossorigin="anonymous">
    <link rel="icon" href="/img/icon.ico">
    <title>Home page</title>
</head>

<body class="fondo">

    <% include partials/navside %>
    <main>
        <form action="/profile/upload" method="POST" name="postForm" class="formulario">
            <div class="form-group">
                <label for="comment" style="color:aliceblue;">Tell to the world what you are thiking about!!:</label>
                <textarea class="form-control" rows="3" cols="50" id="comentario" name="comentario" placeholder="Comment something"></textarea>
              </div>
            <div class="form-group">
                <label for="fotoPost" class="subir" style='color:aliceblue; cursor: pointer;'>
                    <i class="fas fa-cloud-upload-alt"></i> Choose a photo
                </label>
                <input id="fotoPost" value="Foto" name="foto"onchange='cambiar()' type="file" style='display: none; ' />
                <div id="informacion"></div>
            </div>
            <input type="submit" value="Publish" style="cursor:pointer;">
        </form>
        <div class="publicaciones">

        </div>
    </main>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/home.js"></script>
</body>

</html>