<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Perfil</title>
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="js/bootstrap.min.js">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
</head>

<body>
    <header>
        <div class="contenedor">
            <h1 class="icon-dog">Amonooos</h1>
            <input type="checkbox" id="menu-bar">
            <label class="fontawesome-align-justify" for="menu-bar"></label>
            <nav class="menu">
                <a href="">Inicio</a>
                <a href="">More</a>
            </nav>
        </div>
    </header>

    <main>
        <section id="banner">
            <img src="img/smile.jpg" alt="SMILE">
            <div class="contenedor">
                <img class="icono_perfil" src="img/icono.png" alt="ICONO_PERFIL">
                <p>Cristian Mundo</p>
            </div>
        </section>

        <section id="bienvenidos">
            <div class="contenedor">

                <!--FORMULARIO-->

                <form action="#" method="POST">
                    <div class="form-group subir-archivo">
                        <label for="comment">Escribe lo que piensas:</label>
                        <textarea class="form-control" rows="5" id="comment"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Comentar</button>
                        <label for="file-upload" class="subir">
                                <i class="fas fa-cloud-upload-alt"></i> Subir archivo
                            </label>
                            <input id="file-upload" onchange='cambiar()' type="file" style='display: none;'/>
                            <div id="info"></div>
                    </div>
                </form>
            </div>
            </div>
        </section>

        <section id="blog">

            <div class="contenedor">
                <h3>MIS PUBLICACIONES</h3>
                <article>
                    <img src="img/montania.jpg">
                    <div class="btn-group-vertical">
                        <button type="button" class="btn btn-default"><i class="fas fa-thumbs-up"></i></button>
                        <button type="button" class="btn btn-default"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="row">
                        <div class="col-lg-11">
                            <div class="input-group">
                                <input type="text" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Comentar</button>
                                </span>
                            </div>
                        </div>
                    </div>

                </article>
                <article>
                    <img src="img/montania.jpg">
                    <div class="btn-group-vertical">
                        <button type="button" class="btn btn-default"><i class="fas fa-thumbs-up"></i></button>
                        <button type="button" class="btn btn-default"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                </article>
                <article>
                    <img src="img/montania.jpg">
                    <div class="btn-group-vertical">
                        <button type="button" class="btn btn-default"><i class="fas fa-thumbs-up"></i></button>
                        <button type="button" class="btn btn-default"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                </article>
            </div>
        </section>

        <section id="info">
            <h3>Para muchos de nosotros las mascotas no son simples compañeros, son miembros de la familia.</h3>
            <div class="contenedor">
                <div class="info-pet">
                    <img src="https://s21.postimg.org/k42tgtq9z/pet1.jpg" alt="">
                    <h4>Max</h4>
                </div>
                <div class="info-pet">
                    <img src="https://s21.postimg.org/ccm3i9m4n/pet2.jpg" alt="">
                    <h4>Jerry</h4>
                </div>
                <div class="info-pet">
                    <img src="https://s21.postimg.org/dsxm0ep1j/pet3.jpg" alt="">
                    <h4>Tom</h4>
                </div>
                <div class="info-pet">
                    <img src="https://s21.postimg.org/ui3na2b0n/pet4.jpg" alt="">
                    <h4>Sam</h4>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="contenedor">
            <p class="copy">My pets &copy; 2015</p>
            <div class="sociales">
                <a class="fontawesome-facebook-sign" href="#"></a>
                <a class="fontawesome-twitter" href="#"></a>
                <a class="fontawesome-camera-retro" href="#"></a>
                <a class="fontawesome-google-plus-sign" href="#"></a>
            </div>
        </div>
    </footer>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>

</html>