.color{
    background-color: #a3a3a570 !important;
}

.fondo{
    height: 100%;
    background-image: url('../img/fondo3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#banner {
	margin-top: 50px;
    position: relative;
    background-color: #333;
}
#banner .contenedor {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: #fff;
}

#banner img {
	width: 100%;
	height: 100%;	
}


html{
    height: 100%;
}

.publicaciones{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.post{
    width: 50em;
    display: flex;
    word-break: break-word;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.336);
    margin: 1em 0;
    padding: 4em 0 2em;
    transition: all 0.5s;
    -webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75); 
    -moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75); 
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75); 
}
.shadow{
    width: 50em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.336);
    margin: 1em 0;
    padding: 4em 0 2em;
    transition: all 0.5s;
    -webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75); 
    -moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75); 
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75); 
}
.submitHover:hover{
    transition: all 0.5s;
    background-color: rgba(51, 3, 3, 0.445);;
}

.post:hover{
    transition: all 0.5s;
    background-color: rgba(51, 3, 3, 0.445);
}

.post img{
    width: 80%;
}

.post a{
    color: white;
    font-size: 1.7em;
    margin: 0.5em;
}

.post p{
    color: aliceblue;
    padding: 0 10em;
    margin-top: 1em;
}

.post h3{
    color: aliceblue;
}

.formulario{
    padding: 2em;
    display: flex;
    flex-direction: column; 
    width: 40em;
    justify-content: center;
    align-items: center;
}

.formulario input[type=text]{
    padding: 1em;
    margin: 0 0 0.3em;
    background-color: rgba(240, 255, 255, 0.452);
    border: 0;
    width: 70%;
}

.formulario input[type=file]{
    padding: 0.1em;
    margin: 0 0 0.3em;
    border: 0;
    width: 70%;
    color: aliceblue;
}

.formulario input[type=submit]{
    padding: 0.4em;
    margin: 0 0 0.3em;
    background-color: rgba(240, 255, 255, 0.096);
    border-radius: 5em;
    width: 40%;
    border: 0;
}
.formulario input:hover[type=submit]{
    transition: all 1s;
    background-color: rgb(255, 255, 255);
}

.fotoPerfil{
    height: auto;
    width: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
   
    display: block;
}

.fotoperfil{
    width: 100%;
    height: 2.5em;
    border-radius: 100%;
}

.fotoperfilbig {
    width: 18em;
    height: 18em;
    border-radius: 100%;
    margin-top: 2em;
}

.post img.fotoperfilsmall {
    width: 3em;
    height: 3em;
    border-radius: 100%;
}

img.fotoperfilsmall{
    width: 5em;
    height: 5em;
    border-radius: 100%;
    margin: 0.3em;
}

.encabezado {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.fixed{
    position: fixed;
    top: 0;
    width: 100%;
    height: 3em;
}

.fixed2{
    position: fixed;
}
span.delete{
    font-size: 1.7em;
}

span.like{
    
    transition: all 0.2s;
}

span.like:hover{
    color: red;
    transition: all 0.5s;
    font-size: 1.2em;

}


span.dislike{
    transition: all 0.2s;
}

span.dislike:hover{
    color: red;
    transition: all 0.5s;
    font-size: 1.2em;
}

#fotoPerfil, #fotoFondo{
    opacity: 0;
    width: 100%;
    height: 100%;
    position: relative;
}



.texto{
    position: absolute;
    margin: 0%;
}

.div{
    padding: 0%;
}

.submitPP{
    width: 76.5%;
}

.fontcolor{
    width: 70%;
    border: 0;
}

.tabla{
    background-color: rgba(0, 0, 0, 0.336);
    margin: 1em 0;
    padding: 4em 0 2em;
    transition: all 0.5s;
    -webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75); 
    -moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75); 
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75); 
    color: aliceblue;
}

.tabla th{
    padding: 1.5em 4em;
}

.tabla tr{
    padding: 2em;
}

.tabla .center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajaPretty{
    text-align: center;
}